@model MovieDetailsViewModel

@{
}

<p>Content area</p>

<br />

@if (Model.Movie != null)
{
    <p>@Model.Movie.MovieID</p>
    <p>@Model.Movie.Title</p>
    <p>@Model.Movie.Type</p>

    <hr />

    @foreach (var moviePerson in Model.Movie.People)
    {
        <p>@moviePerson.Person.Name</p>
    }
}