@model ListOverviewViewModel

@{
    ViewData["Title"] = Model.UserList.Title;
}

<p>@Model.UserList.Title</p>

@if (Model.UserList.Movies == null || Model.UserList.Movies.Count == 0)
{
    <p>No movies added yet!</p>
}
else
{
    @foreach (var listMovie in Model.UserList.Movies)
    {
        <a asp-area="Content"
           asp-controller="Movie"
           asp-action="Details"
           asp-route-title="@listMovie.Movie.Title"
           asp-route-type="@listMovie.Movie.Type">
            @listMovie.Movie.Title
        </a>
    }
}
